.DS_Store
venv/
__pycache__
*.pyc
.env
batch_tasks_input.jsonl
data/processed/en/base_pairs/
data/processed/en/results/
data/processed/en/test/
data/raw/
data/results/
models
flipped_model_BA/
*.jsonl
.models/
*.json
results/
*.ipynb
big5_chat_data/